
body { font-family: Arial, Helvetica, sans-serif;background: #f6e4a6;}
'
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }


#main {background-color: #f8f0d5; 
    width: 1010px;
    margin-left: 240px; }
#header {
    padding-top: 40px; 
}
#header {
    
    height: 200px;
    width: 1010px;
    float: left;
    background: #4b100b; 
}
#logo {background: url(../images/header.jpg) no-repeat;
    height: 200px;
    width: 1010px;
    float: left; 
    margin-top: -40px;}
}

 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:1010;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background: #4b100b;
}
 
.menu {
    width:1010px;
    margin:0px auto;
}
 
.menu li {
    float: left; 
    padding-left: 100px;
    list-style:none;
	font-size: 20px;
    
}
 
.menu a {
    transition:all linear 0.15s;
    color: #f8f0d5;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#8e342c;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#f57a6f;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    background:#4b100b;
}
 
.sub-menu li {
    display:block;
    font-size:18px;
}
 
.sub-menu li a {
    padding:5px 20px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#f57a6f;
}
#content {
    margin-left: 70px;
    height: 0 auto;
    width: 950px;
    float: left; 
}
#content h1 {
    font-size: 36px;
    color: #691008; 
}
 
#content h2 {
    font-size: 24px;
    color: #65231d;
}
 
#content h3 {
    font-size: 18px;
    color: #5f0c04;
    font-weight: normal; 
}
 
#content p {
    font-size: 14px;
    color: #4b100b; 
}
 
#content small {
    font-size: 12px;
    color: #5f0c04; 
}
 
#content a {
    color: #3d0803;
    font-weight: bold;
    text-decoration: none; 
}
#content a:hover { color:#c63f33;
}
#footer {
    background: url(../images/footer.jpg) repeat-x;
    height: 175px;
    width: 1010px;
	margin-left: 240px;
    padding-top: 20px;
    margin-top: 600px;
    color: #4b100b; 
    text-align: center;
} 