<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">
    <display-name>Virtual COW</display-name>
    <servlet>
        <servlet-name>Console</servlet-name>
        <servlet-class>
            org.agilewiki.console.SimpleSimon
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>adminPassword</param-name>
            <param-value>123</param-value>
        </init-param>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>laforge49@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>self</param-name>
            <param-value>http://localhost:8080/virtualCow</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Console</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
</web-app>